@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-bg-1: var(--color-white);
  --color-bg-2: var(--color-gray-100);
  --color-fg-1: var(--color-gray-950);
  --color-fg-2: var(--color-gray-800);
  --color-fg-3: var(--color-gray-500);
  --color-border: var(--color-gray-200);
  --color-brand: oklch(0.6658 0.2247 36.3); /* Orange */

  --spacing-page-t: calc(var(--spacing) * 24);
}

@layer base {
  * {
    @apply border-border outline-border;
  }

  html {
    @apply motion-safe:scroll-smooth;
  }

  figure[data-rehype-pretty-code-figure] code {
    counter-reset: line;
  }

  figure[data-rehype-pretty-code-figure] code > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    @apply inline-block w-4 mr-4.5 text-right text-fg-3;
  }

  figure[data-rehype-pretty-code-figure] span[data-line] {
    color: var(--shiki-light);
    @apply px-4;
  }
}

@utility heading {
  @apply font-medium text-base text-fg-1;
}

@utility paragraph {
  @apply text-base/normal text-fg-3 max-w-10/12 font-normal;
}

@utility link {
  @apply underline-offset-4 underline decoration-1 decoration-brand/70 text-inherit;
}

@utility codeblock {
  @apply bg-bg-2 font-mono flex overflow-x-scroll px-0 border rounded-xl;
}

@utility lists {
  @apply list-none px-0 [&_time]:text-sm [&_time]:text-fg-3 [&_time]:font-normal;
  @apply prose-headings:font-normal;
  @apply prose-p:m-0 prose-p:text-sm;
  @apply prose-a:no-underline;
  @apply prose-li:px-0;
}
