@import "tailwindcss";
@import "tw-animate-css";

@import "@fontsource-variable/jetbrains-mono";
@import "@fontsource-variable/inter";

@import "./content.css";

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;

  --color-bg-1: oklch(from var(--color-white) l c h);
  --color-bg-2: oklch(from var(--color-gray-100) l c h);
  --color-fg-1: oklch(from var(--color-gray-950) l c h);
  --color-fg-2: oklch(from var(--color-gray-800) l c h);
  --color-fg-3: oklch(from var(--color-gray-500) l c h);
  --color-border: oklch(from var(--color-gray-200) l c h);
  --color-brand: oklch(0.6658 0.2247 36.3); /* Orange */

  --spacing-page-t: calc(var(--spacing) * 24);
  --spacing-floating-nav-h: calc(var(--spacing) * 14);
  --spacing-floating-nav-p: calc(var(--spacing) * 2);
  --spacing-floating-nav-inset: calc(
    var(--spacing-floating-nav-h) + var(--spacing-floating-nav-p) * 2
  );
}

@utility indicator-spring {
  @apply absolute left-0 rounded-full transition-all duration-500 ease-[cubic-bezier(0.34,1.56,0.64,1)];
}

@utility indicator-brand {
  @apply bg-linear-to-b from-brand to-brand/60;
}

@utility nav-link {
  @apply block py-px pl-3 text-fg-3 transition-colors duration-200 hover:text-fg-2 data-[status=active]:text-fg-1 data-[status=active]:[anchor-name:--active];
}

@layer base {
  * {
    @apply border-border outline-border;
  }
  body {
    @apply bg-bg-1 text-fg-1 font-sans antialiased selection:bg-brand/20 font-features-['cv01','ss03'];
    @apply text-[0.9375rem] tracking-[-.005rem] leading-[1.45rem] font-[450];
  }
  a[target="_blank"] {
    cursor:
      url("/cursor-external.svg") 17 7,
      alias;
  }
}
