@layer components {
  .prose {
    @apply my-6 balance-spacing;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-medium text-fg-1 my-4 balance-spacing text-balance scroll-mt-6;
      &:has(+ figure) {
        @apply mb-2;
      }
    }

    p {
      @apply text-fg-3 balance-spacing my-4;
    }

    a {
      @apply animated-link;
    }

    blockquote {
      padding-inline-start: 1em;
      border-inline-start-width: 0.25rem;
      @apply text-fg-3 balance-spacing my-4;
    }

    code {
      @apply bg-bg-2 text-xs py-0.5 px-1.5 rounded-md outline whitespace-nowrap;
    }

    figure {
      @apply bg-bg-2 text-xs leading-6 font-mono rounded-md whitespace-nowrap border;
    }
    figure [data-rehype-pretty-code-title] {
      @apply px-4 py-1 bg-bg-2 text-fg-2 rounded-t-md border-b;
    }
    figure:has([data-rehype-pretty-code-title]) code {
      @apply rounded-t-none;
    }
    figure pre code {
      counter-reset: line;
      @apply overflow-x-auto py-2 space-y-[3px];
    }
    figure pre code [data-line]:before {
      content: counter(line);
      counter-increment: line;
      @apply w-4 pl-2 pr-5 text-right inline-block text-fg-2;
    }
  }
}

@utility balance-spacing {
  @apply first:mt-0 last:mb-0;
}
