/* biome-ignore-all lint/suspicious/noUnknownAtRules: invalid for tailwind*/

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-bg-1: var(--color-white);
  --color-bg-2: var(--color-gray-100);

  --color-fg-1: var(--color-gray-950);
  --color-fg-2: var(--color-gray-800);
  --color-fg-3: var(--color-gray-500);

  --color-brand: var(--color-orange-500);

  --color-border: var(--color-gray-300);

  /*  */

  --spacing: 0.25rem;
  --spacing-xs: calc(var(--spacing) * 1);
  --spacing-sm: calc(var(--spacing) * 2);
  --spacing-md: calc(var(--spacing) * 4);
  --spacing-lg: calc(var(--spacing) * 6);
  --spacing-xl: calc(var(--spacing) * 8);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-border;
  }

  html {
    @apply motion-safe:scroll-smooth;
  }

  body {
    @apply bg-bg-1 text-fg-3 selection:bg-brand/10;
  }

  svg {
    @apply stroke-[1.75px];
  }
}

@utility typography {
  @apply sm:text-base text-sm leading-relaxed;
}

@utility heading {
  @apply typography font-medium text-fg-1;
}

@utility subheading {
  @apply typography font-normal text-fg-2;
}

@utility paragraph {
  @apply typography font-normal text-fg-3;
}

@utility link {
  @apply underline-offset-3 underline decoration-2 decoration-brand/70 hover:underline-offset-4 transition-all duration-300;
}
