@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme inline {
    --color-background: var(--color-zinc-950);
    --color-foreground: var(--color-zinc-50);

    --color-muted: var(--color-zinc-800);
    --color-muted-foreground: var(--color-zinc-400);

    --color-badge: var(--color-zinc-900);
    --color-badge-foreground: var(--color-zinc-400);

    --color-border: var(--color-zinc-800);

    --font-sans: var(--font-ibm-sans);
    --font-mono: var(--font-ibm-mono);

    --color-edge: color-mix(
        in oklab,
        var(--color-border) 64%,
        var(--color-background)
    );
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        @apply border-border;
    }

    html {
        @apply motion-safe:scroll-smooth;
    }

    body {
        @apply overscroll-y-none bg-background text-foreground font-sans antialiased;
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
    }
}

@utility line-before {
    @apply relative before:absolute before:top-0 before:-left-[100vw] before:-z-1 before:h-px before:w-[200vw] before:bg-edge;
}

@utility line-after {
    @apply relative after:absolute after:bottom-0 after:-left-[100vw] after:-z-1 after:h-px after:w-[200vw] after:bg-edge;
}

@utility link {
    @apply group-hover:underline hover:underline underline-offset-4 font-medium;
}
