@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme inline {
    --color-background: var(--gray-0);
    --color-foreground: var(--gray-1300);

    --color-card-primary: var(--gray-100);
    --color-card-secondary: var(--gray-200);

    --color-muted: var(--gray-50);
    --color-muted-foreground: var(--gray-1100);

    --font-sans: var(--sans);
    --font-mono: var(--mono);

    --color-border: var(--gray-300);
}

:root {
    --gray-0: oklch(16.8% 0 0);
    --gray-50: oklch(17.8% 0 0);
    --gray-100: oklch(18.7% 0 0);
    --gray-200: oklch(21.3% 0 0);
    --gray-300: oklch(25.2% 0 0);
    --gray-400: oklch(28.5% 0 0);
    --gray-500: oklch(31.3% 0 0);
    --gray-600: oklch(34.8% 0 0);
    --gray-700: oklch(40.2% 0 0);
    --gray-800: oklch(48.9% 0 0);
    --gray-900: oklch(53.8% 0 0);
    --gray-1000: oklch(58.3% 0 0);
    --gray-1100: oklch(77.3% 0 0);
    --gray-1200: oklch(83.3% 0 0);
    --gray-1300: oklch(94.9% 0 0);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        @apply border-border;
    }

    html {
        @apply motion-safe:scroll-smooth;
    }
}
