@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-bg-1: var(--color-white);
  --color-bg-2: var(--color-gray-100);

  --color-fg-1: var(--color-gray-950);
  --color-fg-2: var(--color-gray-800);
  --color-fg-3: var(--color-gray-500);

  --color-brand: oklch(0.6658 0.2247 36.3); /* Orange */

  --color-border: var(--color-gray-300);

  /*  */

  --spacing: 0.25rem;
  --spacing-xs: calc(var(--spacing) * 1);
  --spacing-sm: calc(var(--spacing) * 2);
  --spacing-md: calc(var(--spacing) * 4);
  --spacing-lg: calc(var(--spacing) * 6);
  --spacing-xl: calc(var(--spacing) * 8);
  --spacing-2xl: calc(var(--spacing) * 10);
  --spacing-3xl: calc(var(--spacing) * 12);
  --spacing-4xl: calc(var(--spacing) * 14);
  --spacing-5xl: calc(var(--spacing) * 16);
  --spacing-6xl: calc(var(--spacing) * 18);
  --spacing-7xl: calc(var(--spacing) * 20);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-border;
  }

  html {
    @apply motion-safe:scroll-smooth;
  }

  svg {
    @apply stroke-[1.75px];
  }

  body {
    @apply bg-bg-1 text-[15px] text-fg-3 leading-[1.65] selection:bg-brand/10 mx-auto flex w-full max-w-260 flex-col px-sm py-xl md:flex-row md:py-7xl;
  }

  header {
    @apply flex flex-1 justify-start;
  }

  main {
    @apply mt-md flex flex-4 flex-col gap-xl md:mt-0;
  }
}
@utility heading {
  @apply font-medium text-fg-1 text-lg;
  letter-spacing: -0.01em;
}

@utility subheading {
  @apply font-normal text-fg-2;
}

@utility paragraph {
  @apply font-normal text-fg-3;
}

@utility link {
  @apply underline-offset-3 underline decoration-2 decoration-brand/70 hover:underline-offset-4 transition-all duration-300;
}

/* Animtion */

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility stagger-* {
  animation: fade-in-up 0.5s cubic-bezier(0.21, 0.47, 0.32, 0.98) both;
  animation-delay: calc(--value(integer) * 0.05s);
}
