@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-bg-1: var(--color-white);
  --color-bg-2: var(--color-gray-100);

  --color-fg-1: var(--color-gray-950);
  --color-fg-2: var(--color-gray-800);
  --color-fg-3: var(--color-gray-500);

  --color-brand: oklch(0.6658 0.2247 36.3); /* Orange */

  --color-border: var(--color-gray-300);

  /*  */

  --spacing: 0.25rem;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-border;
  }

  html {
    @apply motion-safe:scroll-smooth;
  }

  svg {
    @apply stroke-[1.75px];
  }

  body {
    @apply bg-bg-1 font-normal text-base text-fg-3 selection:bg-brand/10 mx-auto flex w-full max-w-260 flex-col px-2 py-8 md:flex-row md:py-20;
  }

  header {
    @apply flex flex-1 justify-start;
  }

  main {
    @apply mt-4 flex flex-4 flex-col gap-8 md:mt-0;
  }
}

@utility heading {
  @apply font-medium text-fg-1;
  letter-spacing: -0.01em;
}

@utility subheading {
  @apply font-normal text-fg-2;
}

@utility link {
  @apply underline-offset-3 underline decoration-2 decoration-brand/70 hover:underline-offset-4 transition-all duration-300;
}

/* Animtion */

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility stagger-* {
  animation: fade-in-up 0.5s cubic-bezier(0.21, 0.47, 0.32, 0.98) both;
  animation-delay: calc(--value(integer) * 0.05s);
}
