@import "@fontsource-variable/hanken-grotesk";
@import "@fontsource-variable/jetbrains-mono";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-bg-1: var(--color-white);
  --color-bg-2: var(--color-gray-100);
  --color-fg-1: var(--color-gray-950);
  --color-fg-2: var(--color-gray-800);
  --color-fg-3: var(--color-gray-500);
  --color-border: var(--color-gray-200);
  --color-brand: oklch(0.6658 0.2247 36.3); /* Orange */

  --spacing-page-t: calc(var(--spacing) * 24);

  --font-sans: "Hanken Grotesk Variable", sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;
}

@layer base {
  * {
    @apply border-border outline-border;
  }

  a[target="_blank"] {
    cursor:
      url("/cursor-external.svg") 17 7,
      alias;
  }

  figure[data-rehype-pretty-code-figure] code {
    counter-reset: line;
    @apply font-mono;
  }

  figure[data-rehype-pretty-code-figure] code > [data-line]::before {
    content: counter(line);
    counter-increment: line;
    @apply inline-block w-4 mr-4.5 text-right text-fg-3;
  }

  figure[data-rehype-pretty-code-figure] span[data-line] {
    @apply px-4;
  }
}

@utility headings {
  @apply font-medium text-base text-fg-1;
  @apply data-title:font-normal data-title:text-fg-3 data-title:text-xs data-title:uppercase data-title:tracking-widest;
}

@utility paragraph {
  @apply text-base/normal text-fg-3 max-w-11/12 font-normal;
}

@utility link {
  @apply underline-offset-4 underline decoration-1 decoration-brand/70 text-inherit;
}

@utility codeblock {
  @apply bg-bg-2 font-mono flex overflow-x-scroll px-0 border rounded-xl;
}

@utility lists {
  @apply list-none px-0 [&_time]:text-sm [&_time]:text-fg-3 [&_time]:font-normal;
  @apply prose-headings:font-normal;
  @apply prose-p:m-0 prose-p:text-sm;
  @apply prose-a:no-underline;
  @apply prose-li:px-0;
}
